<!DOCTYPE html>
<html>
    <head>
        <title>Youtubi Video Downloader</title>
    </head>
    <body>
        <h1>YouTube Video Downloader</h1>
        <p>
            Tool for downloading Youtube videos, also provides the functionality of converting to Mp3.
            <br>
            Project made for personal use and as portfolio only (educational purposes).
        </p>
        <form action="?" method="POST">
            <input type="text" id="target_url" name="target_url" size="80">
            <input type="submit" value="Download" />
            <br>
            <input type="checkbox" id="mp3" name="mp3">
            <label for="mp3">Convert to Mp3</label>
        </form>
    </body>
</html>